setxkbmap br &
numlockx &
picom --backend glx &
# xsetwacom set 9 MapToOutput 1920x1080+1920+0 &

if [ "$HOSTNAME" = "sagittarius"  ]; then
    xsetwacom --set "Wacom One by Wacom S Pen stylus" MapToOutput 1920x1080+1920+0 &

elif [ "$HOSTNAME" = "divenger"  ]; then

    xsetwacom --set "Wacom One by Wacom S Pen stylus" MapToOutput 1920x1080+1920+0 &
    xsetwacom --set "Wacom One by Wacom S Pen stylus" Rotate half &

fi
