"*":
  "atom-latex":
    build_after_save: false
    custom_toolchain: "make filename=main"
    hide_log_if_success: true
    preview_after_build: "Do nothing"
    toolchain: "custom toolchain"
  "atom-material-ui":
    colors:
      abaseColor: "#5080ce"
    tabs: {}
    ui:
      panelContrast: true
  autosave:
    enabled: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "language-gfm"
      "terminus"
      "atom-terminus"
    ]
    excludeVcsIgnoredPaths: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
    titleBar: "hidden"
  editor:
    fontFamily: "Source Code Pro, Ubuntu Mono, Monospace"
    fontSize: 15
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "e01b324b-e2b1-44ee-8781-5b4300fb113b"
  "markdown-preview-enhanced":
    previewTheme: "github-dark.css"
  "one-dark-ui": {}
  "one-vibrancy":
    effect: "ultra-dark"
  "spell-check":
    grammars: [
      "text.tex.latex"
      "source.rst"
      "text.restructuredtext"
    ]
    locales: [
      "en-GB"
    ]
    useSystem: false
  "title-bar-replacer":
    colors:
      controlTheme: "Legacy"
    general: {}
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
